<div class="image-compare twentytwenty-container">
  <img src="https://surfrider-monterey.github.io/coastal-erosion-photos/{{ images.y2015 }}/1972.JPG" alt=""/>
  <img src="https://surfrider-monterey.github.io/coastal-erosion-photos/{{ images.y2015 }}/2015.JPG" alt=""/>
</div>
